[submodule "third_party/folly"]
	path = third_party/folly
	url = https://github.com/facebook/folly.git
[submodule "third_party/gflags"]
	path = third_party/gflags
	url = https://github.com/gflags/gflags.git
[submodule "third_party/Catch2"]
	path = third_party/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/hiredis"]
	path = third_party/hiredis
	url = https://github.com/redis/hiredis.git
[submodule "third_party/wangle"]
	path = third_party/wangle
	url = https://github.com/facebook/wangle.git
